 
#nav {
    list-style-type: none;
    
}

#nav li {

    margin-right: 50px;
    font-family:'Georgia', Times, Times New Roman, serif; 
    font-size: 25px;
    float: right;
    padding: 0px 0px 0px 10px;
}

#nav li a {
    text-decoration: none;
    color: gray;
    
    
}

.division {

    margin-top:110px;
    margin-right: 0;
    margin-left:0;
    height: 800px;
    position:absolute;
    clear: both;
    width: 100%;
    background: #cccccc;
    z-index:-1;
    /* overflow: auto; */
    
}

.AboutMe {
    
        
        width: 250px;
        padding: 25px;
        background: white;
        right: 150px;
        left: 145px;
        width: 75%;
        margin: 0 auto 0 auto;
        margin-top: 30px;
        padding: 20px;
        overflow:auto;
}

h1 {
    font-family:'Georgia', Times, Times New Roman, serif; 
    font-size: 30px;
    color: #4aaaa5;
}

p {

    font-family: Arial, Helvetica, sans-serif;
}

#image {

    float: left;
    padding: 10px;
}

/* .header-wrapper {
    height: 30px;
} */
.fixed {

    position: fixed;
    padding: 30px;
    height: 30px;
    /* height: 100%; */
    width: 100%;
    background-color: white;
    text-align: center;
    top:0;
    left: 0;
}

.NameLogo {

    font-family:'Georgia', Times, Times New Roman, serif; 
    font-size: 30px;
    background: #4aaaa5;
    float:left;
    width: 200px;
    padding: 30px 0px 0px 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 185px;
    text-align: left;
    height:60px;
    font-weight: bold;
}

footer {

    text-align: center;
    color: white;
    background: #666666;
    bottom: 0;
    position: absolute;
    width: 100%;
    border: 1px;
}

button {

    padding: 15px;
    font-family:'Georgia', Times, Times New Roman, serif; 
    font-size: 25px;
    background: #4aaaa5;
}

#London {

    
    width: 33.3%;
    float: left;
  }
  
  #Venice {
  
    
    width: 33.3%;
    float: left;
  }
  
  #Singapore {
  
    
    width: 33.3%;
    float: left;
  }

  #Maldives {
  
    
    width: 33.3%;
    float: left;
  }

  #Paris {
  
    
    width: 33.3%;
    float: left;
  }

  .deslbl {
    background: #4aaaa5;
    width: 350px;
    color: white;
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    text-align: center;
  }

  
